@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: url('/images/hoopbackground.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.player-details {
  text-align: center;
  
}

.team-details {
  text-align: center;
}

figcaption {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 66%;
  height: 30px;
  text-align: center;
  font-size: 100%;
  background: rgb(253, 185, 39);
  border: 2px rgb(0, 0, 0) solid;
  z-index: 10; }

.playerCard {
  color: black;
  
}

.cardFront {
  border-radius: 25px;
}

.cardBack {
  border-radius: 25px;
}

.teamCard {
  color: black;
}

.mb-3 {
  color: black;
}
